body {
  float: none;
  position: absolute;
  font-family: Verdana;
  background-color: #99F;
  /*
  cursor: url('ccursor.png'), auto;
  */
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: gray;
}

.navbar a {
  float: center;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: lightgray;
  color: black;
  
}
